body {
    background-color:black;
   
   
}
*{margin:0;
  padding:0;

}
.main-container{
    width:800px;
    height:auto;
    background-color:gray;
    margin:0 auto;
}
.top-head{
    width:100%;
    height:30px;
    background-color:white;


}
/*NAV START*/
.nav{
    width:100%;
    height:50px;;
    background-color:white;

}
.nav ul{

}
.nav ul li{
    list-style: none;
    float: left;
    padding: 12px 25px 12px 30px;
    margin: 1px;
    background-color: lightskyblue;
}
.nav ul li a{
    text-decoration:none;
    color:white;
    font-size:20px;

}

/*NAV END*/

/*banner start*/
.banner{
    width:100%;
    height:300px;
    background-color:deepskyblue;


}
.main-banner{
    padding:96px;
    margin:0 auto;

}
.main-banner p{
    font-size:70px;
    font-family:Arial;
    color:white;
    text-align:center;
}
/*banner end*/

/*start content*/
.content{
     width:100%;
    height:400px;
    background-color:lightskyblue;


}
.left{
    width:200px;
    background-color:lightpink;
    float:left;
    height:400px;
}
.middle{
    width:400px;
    background-color:lightskyblue;
    float:left;
    height:400px;
}
.right{
    width:200px;
    background-color:lightpink;
    float:right;
    height:400px;
}
/*end content*/

.footer{
    width:100%;
    height:30px;
    background-color:white;

}
.main-footer{
    padding:5px;
    margin:0 auto;

}
.main-footer p{
    font-size:20px;
    font-family:Arial;
    color:deepskyblue;
    text-align:center;
}